#movies img {
  width: 70%;
  max-width: 250px;
}

#movie img {
  width: 100%;
}

@media(min-width:960px){
  #movies .col-md-3 .well{
    height: 390px;
  }

  #movies .col-md-3 img{
    height:240px;
  }
}

.jumbotron {
  background-color: #d60724;
}

h2 {
  color: #abb0b3;
}

.navbar-brand {
  font-size: 33px;
  padding-right: 840px;
  /*padding-bottom: 20px;*/
  /*width: 200px;*/
}
.navbar-header {
  /*height: 40px;
  margin-bottom: 10px;*/
  /*width: 200px;*/
}

.well {
  text-align: center;
}
