#movies img {
  width: 70%;
  max-width: 250px;
}

#movie img {
  width: 100%;
}

@media(min-width:960px){
  #movies .col-md-3 .well{
    height: 390px;
  }

  #movies .col-md-3 img{
    height:240px;
  }
}

.jumbotron {
  /*background-color: #d60724;*/
  background: linear-gradient(#821524, red, #d60724);
}

.button {
  margin-top: 10px;
  border-radius: 5px;
  background-color: #dedfe0;
}

h2 {
  color: #dedfe0;
}

.navbar-brand {
  font-size: 33px;
  /*margin-top: -10px;*/
}

.well {
  text-align: center;
}
